

<div class="row mt-4">
  {{#if autocorrects.length}}
    <div class="col-md-6 correction-list">
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">All Autocorrects😎🤙</span>
            </div>
          </div>
        </div>
      </div>
      {{#each autocorrects as |autocorrect|}}

        <div class="collection">
          
            <a
                href="/api/autocorrects/{{autocorrect.id}}"
              >{{autocorrect.typo}}|{{autocorrect.correction}}
              </a>
            
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

